# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
JC_data=pd.read_csv(r"C:\Users\The Doctor\Anaconda3\envs\clone4\Homework\06-Python-APIs\Instructions\starter_code\JohnCities.csv")
JC_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Busselton,100,AU,1569181239,68,-33.64,115.35,282.04,7.63
1,1,Vaini,32,IN,1569181240,93,15.34,74.49,296.63,1.12
2,2,Kahului,1,US,1569181241,66,20.89,-156.47,303.15,3.60
3,3,Saskylakh,84,RU,1569181243,92,71.97,114.09,274.23,4.92
4,4,Morehead,1,US,1569181244,31,38.18,-83.43,305.15,7.70
5,5,Cetraro,100,IT,1569181245,99,39.52,15.94,295.37,4.28
6,6,Arraial do Cabo,75,BR,1569181246,88,-22.97,-42.02,295.15,3.60
7,7,Jamestown,79,AU,1569181247,93,-33.21,138.60,278.83,0.49
8,8,Ancud,20,CL,1569181249,62,-41.87,-73.83,285.15,2.60
9,9,Rikitea,35,PF,1569181250,83,-23.12,-134.97,294.23,8.66
10,10,Ushuaia,90,AR,1569181251,100,-54.81,-68.31,280.15,2.01
11,11,Saint-Philippe,90,CA,1569181252,65,45.36,-73.48,300.37,6.70
12,12,Bilozerka,0,UA,1569181254,67,46.63,32.45,288.15,4.00
13,13,Port Alfred,31,ZA,1569181255,79,-33.59,26.89,285.37,3.13
14,14,Avarua,100,CK,1569181049,88,-21.21,-159.78,296.15,0.50
15,15,Fairbanks,1,US,1569181257,86,64.84,-147.72,277.15,1.50
16,16,Port-Gentil,40,GA,1569181258,83,-0.72,8.78,299.15,5.10
17,17,Pevek,100,RU,1569181260,90,69.70,170.27,275.63,8.95
18,18,Tuatapere,67,NZ,1569181261,90,-46.13,167.69,280.93,2.24
19,19,Hobart,6,AU,1569180989,75,-42.88,147.33,279.82,1.50
20,20,Bilma,0,NE,1569181263,13,18.69,12.92,305.23,0.90
21,21,Nanortalik,0,GL,1569181265,86,60.14,-45.24,277.23,1.66
22,22,Kapaa,20,US,1569181023,74,22.08,-159.32,302.15,4.10
23,23,Bernalillo,1,US,1569181267,13,35.30,-106.55,300.93,4.60
24,24,Karratha,0,AU,1569181268,13,-20.74,116.85,290.03,6.03
25,25,Narsaq,0,GL,1569181269,70,60.91,-46.05,279.15,3.60
26,26,Yellowknife,75,CA,1569181271,82,62.45,-114.38,286.15,2.60
27,27,Mapiri,100,BO,1569181272,94,-15.31,-68.22,286.83,2.03
28,28,Lebu,99,ET,1569181273,90,8.96,38.73,286.63,0.86
29,29,Atuona,6,PF,1569181274,79,-9.80,-139.03,299.63,9.07
...,...,...,...,...,...,...,...,...,...,...
233,233,Kaiyuan,0,CN,1569181521,80,42.54,124.04,283.63,1.72
234,234,Cabot,90,US,1569181523,62,34.97,-92.02,305.15,5.10
235,235,Richards Bay,100,ZA,1569181524,87,-28.77,32.06,293.13,12.21
236,236,Ponta Delgada,75,PT,1569181525,94,37.73,-25.67,296.15,6.70
237,237,Santa Lucia,75,IT,1569181526,69,41.98,12.66,296.48,8.20
238,238,Maun,0,BW,1569181528,10,-19.99,23.42,300.15,2.60
239,239,Kirkcudbright,100,GB,1569181529,95,54.84,-4.04,289.26,0.89
240,240,Monopoli,0,IT,1569181530,73,40.95,17.30,296.48,3.60
241,241,Codajas,100,BR,1569181531,91,-3.84,-62.06,296.93,1.45
242,242,Luganville,75,VU,1569181532,78,-15.51,167.18,297.15,6.70
243,243,Isfana,75,KG,1569181534,31,39.84,69.53,298.15,14.00
244,244,Atagay,56,RU,1569181535,95,55.10,99.39,279.53,2.48
245,245,Iranshahr,0,IR,1569181536,22,27.21,60.69,306.15,2.10
246,246,Ende,65,ID,1569181537,80,-8.84,121.65,297.23,2.75
247,247,Calama,0,CL,1569181539,6,-22.46,-68.93,296.15,12.30
248,248,Wagar,0,US,1569181540,37,31.44,-87.99,305.93,2.92
249,249,Galle,100,GN,1569181541,98,10.08,-12.83,294.93,1.70
250,250,Buala,100,SB,1569181542,92,-8.15,159.59,298.43,5.19
251,251,Anloga,20,GH,1569181544,88,5.79,0.90,299.15,4.10
252,252,Ormara,0,PK,1569181545,41,25.21,64.64,302.53,0.97
253,253,Immokalee,75,US,1569181546,46,26.42,-81.42,305.15,7.20
254,254,Kloulklubed,40,PW,1569181547,94,7.04,134.26,298.15,5.18
255,255,Caravelas,2,BR,1569181549,78,-17.73,-39.27,297.43,3.41
256,256,Carutapera,1,BR,1569181550,76,-1.20,-46.02,299.83,3.79
257,257,Alakurtti,88,RU,1569181551,86,66.96,30.34,273.71,2.68
258,258,Lata,7,IN,1569181552,87,30.78,78.62,274.33,0.37
259,259,Petatlan,75,MX,1569181553,66,17.52,-101.27,305.15,3.60
260,260,Udachnyy,90,RU,1569181555,74,66.42,112.40,274.15,4.00
261,261,West Haven,1,US,1569181460,51,41.27,-72.95,303.71,2.60
262,262,Pravia,75,ES,1569181557,82,43.49,-6.11,291.48,0.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [5]:

# Store 'Lat' and 'Lng' into  locations 
locations = JC_data[["Lat", "Lng"]].astype(float)

# Convert humidity Rate to float and store
humidity_rate = JC_data["Humidity"].astype(float)

In [59]:
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Narrow down the DataFrame to find your ideal weather condition. For example:

#  * A max temperature lower than 110 degrees but higher than 70.

#  * Wind speed less than 20 mph.

# * Zero cloudiness.

#  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [27]:
JP_Va = JC_data[(JC_data['Humidity'] >= 50) & (JC_data['Cloudiness'] < 20) & (JC_data['Max Temp'] > 300)]
JP_Va

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,2,Kahului,1,US,1569181241,66,20.89,-156.47,303.15,3.60
81,81,Laguna Verde,7,MX,1569181337,63,18.63,-100.00,303.93,0.91
171,171,Westport,1,US,1569181214,54,41.14,-73.36,303.71,4.10
191,191,Zirandaro,1,MX,1569181470,51,18.45,-100.98,307.13,0.29
195,195,Tomatlan,0,MX,1569181475,76,19.93,-105.25,302.33,3.74
196,196,Auki,1,NG,1569181476,52,12.18,6.51,300.43,1.80
261,261,West Haven,1,US,1569181460,51,41.27,-72.95,303.71,2.60

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [72]:
hotel_df = []

In [73]:
hotel_df

[]

In [28]:
JP_Va["Hotel Name"] = ""

C:\Users\The Doctor\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
JP_Va

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
2,2,Kahului,1,US,1569181241,66,20.89,-156.47,303.15,3.60,
81,81,Laguna Verde,7,MX,1569181337,63,18.63,-100.00,303.93,0.91,
171,171,Westport,1,US,1569181214,54,41.14,-73.36,303.71,4.10,
191,191,Zirandaro,1,MX,1569181470,51,18.45,-100.98,307.13,0.29,
195,195,Tomatlan,0,MX,1569181475,76,19.93,-105.25,302.33,3.74,
196,196,Auki,1,NG,1569181476,52,12.18,6.51,300.43,1.80,
261,261,West Haven,1,US,1569181460,51,41.27,-72.95,303.71,2.60,

In [42]:
import json

In [67]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in JP_Va.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    


    # convert to json
    name_address = name_address.json()
    

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        JP_Va.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        #cities_pd.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        #cities_pd.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.

In [68]:
JP_Va

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
2,2,Kahului,1,US,1569181241,66,20.89,-156.47,303.15,3.60,Maui Beach Hotel
81,81,Laguna Verde,7,MX,1569181337,63,18.63,-100.00,303.93,0.91,Hotel Montetaxco
171,171,Westport,1,US,1569181214,54,41.14,-73.36,303.71,4.10,Hilton Garden Inn Norwalk
191,191,Zirandaro,1,MX,1569181470,51,18.45,-100.98,307.13,0.29,Hotel Pineda
195,195,Tomatlan,0,MX,1569181475,76,19.93,-105.25,302.33,3.74,Hotel Misión San Miguel
196,196,Auki,1,NG,1569181476,52,12.18,6.51,300.43,1.80,Moonlight Hotel
261,261,West Haven,1,US,1569181460,51,41.27,-72.95,303.71,2.60,Omni New Haven Hotel at Yale

In [111]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in JP_Va.iterrows()]
locations = JP_Va[["Lat", "Lng"]]

In [112]:

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [109]:
#this will work and Iwill try it
nuclear_power_plants = [
    {'name': 'Kahului', 'location': (-20.89, -156.47), 'Hotel': 1},
    {'name': 'Laguna Verde', 'location': (18.63, -100), 'Hotel': 1},
    {'name': 'Westport', 'location': (40.167, 44.133), 'Hotel': 1},
    {'name': 'Zirandaro', 'location': (18.45,-100.98, 'Hotel': 1}
    {'name': 'Tomatlan', 'location': (19.93, 4-.25), 'Hotel': 1},
    {'name': 'Auki', 'location': (12.18, 6.51), 'Hotel': 1},
    {'name': 'West Haven', 'location': (41.27, -72.95), 'Hotel': 1}
]

plant_locations = [plant['location'] for plant in nuclear_power_plants]
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Number reactors</dt><dd>{active_reactors}</dd>
</dl>
"""
plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

marker_layer = gmaps.marker_layer(plant_locations, info_box_content=plant_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
info

                       Hotel Name          City Country
2                Maui Beach Hotel       Kahului      US
81               Hotel Montetaxco  Laguna Verde      MX
171     Hilton Garden Inn Norwalk      Westport      US
191                  Hotel Pineda     Zirandaro      MX
195       Hotel Misión San Miguel      Tomatlan      MX
196               Moonlight Hotel          Auki      NG
261  Omni New Haven Hotel at Yale    West Haven      US

In [ ]:
# Add marker layer ontop of heat map


# Display Map